:root {
    --color_Lavender_Deep   : #7e37b5;
    --color_Lavender_Dark   : #8B40C5;
    --color_Lavender        : #9754CB;
    --color_Lavender_Light  : #a165d0;
    --color_Lavender_Bright : #C098DF;

    --color_Vampire_Black   : #050505;
    --color_Chinese_Black   : #111214;
    --color_Eerie_Black     : #1A1A1A;
    --color_Charleston_Green: #282828; 
    --color_Dark_Charcoal   : #333333;
    --color_Onyx            : #38383B;
    --color_Outer_Space     : #474747;
    
    --color_Davy_Grey       : #555555;
    --color_Granite_Gray    : #616161;
    --color_Gray            : #7E7E7E;
    --color_Taupe_Gray      : #888888;
    --color_Argent          : #C0C0C0;
    --color_Gray_X11        : #BBBBBB;
    --color_Chinese_Silver  : #CCCCCC;
    --color_Light_Gray      : #D3D3D3;
    --color_Bright_Gray     : #EEEEEE;
    --color_Cultured        : #F5F5F5;
    --color_Ghost_White     : #F9FAFB;

}

#root{
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
    align-items: center;
    gap: 0.5rem;
}
body {
    background-color: var(--color_Ghost_White)
    
}

.wrapper {
    width: 1008px;
    /* background-color: #ED9ED6; */
}


/* total width */
*::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}
/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: #fff;
}
/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}
/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display:none;
}

h1{ font-size: 2rem;}
h2{ font-size: 1.7rem;}
h3{ font-size: 1.5rem;}
h4{ font-size: 1.3rem;}
h4{ font-size: 1.2rem;}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
}

.flex-row-gap{
    gap: 1.4rem;
}

